{{#if tasks}}
<table class="table table-bordered table-hover table-dark">
  <thead>
    <tr>
      <th>N.</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
      {{! La funcion #each es como un for para recorrer arreglos de objetos etc, dicha funcion pertenece a express-handlebars y el arreglo de objetos "tasks" lo obtenemos desde la peticion get en el controlador de las rutas }}
      <tr>
        <td>{{@index}}</td>{{! @index proviene de #each }}
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
          {{#if done}}
            {{! Asi se crea una condicional con express-handlebars }}
            <a href="/task/{{_id}}/toggleDone" class="btn btn-dark">Undone</a>
          {{else}}
            <a href="/task/{{_id}}/toggleDone" class="btn btn-success">Done</a>
          {{/if}}
          <a href="/task/{{_id}}/delete" class="btn btn-danger">Delete</a>
          <a href="/task/{{_id}}/edit" class="btn btn-info">Update</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="text-center text-white">
        <h1>No Tasks</h1>
        <img src="/icons/task-list.svg" alt="task icon" class="w-50 mt-4" />
        
      </div>
      </div>
{{/if}}